<!DOCTYPE html>
<html ng-app="ecommerce">
<head>
	<title></title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-controller="ecommerce-controller">
	
	<div class="weather-wrapper container">
		<div class="location">Location: {{weatherJSON.name}}, {{weatherJSON.sys.country}}</div>
		<div class="tempature">Temperature: {{FahrenTemp}}</div>
		{{weatherJSON.weather[0].main}} {{weatherJSON.weather[0].description}}

		Humidity: {{weatherJSON.main.humidity}}%
	</div>

	<!-- Resistration/Log in page -->
	<div class="col-md-4" ng-hide=loggedin>
		<h1>Login</h1>
			<div ng-show="error" class="alert alert-danger"></div>
			<form class="form" ng-submit="login()">
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" name="username" ng-model="username" required>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" ng-model="password" required>
				</div>
				<div class="text-danger">
					{{message}}
					<!-- this shows the err from $scope -->
				</div>
				<div>
					<button type="submit" class="btn btn-default" ng-disabled="disabled">Register</button>
				</div>
			</form>
	</div>

		<div class="col-md-4" ng-hide=!loggedin>
			<h1>{{success}}</h1>
		</div>
	
</body>
</html>